# Projet 2 - Participez √† un concours sur la Smart City

Etudiant : *David Scanu* - [Parcours "AI Engineer"](https://openclassrooms.com/fr/paths/795-ai-engineer)

## üëÄ Visualisation g√©n√©rale du jeu de donn√©es

In [122]:
data_filepath = "data/p2-arbres-fr.csv"

In [123]:
import pandas as pd

data = pd.read_csv(data_filepath, delimiter=";")

In [124]:
data.shape
print(f"Le DataFrame de notre jeu de donn√©es contient : {data.shape[0]} lignes et {data.shape[1]} colonnes.")

Le DataFrame de notre jeu de donn√©es contient : 200137 lignes et 18 colonnes.

In [125]:
# Visualisation d'un √©chantillon des donn√©es
data.head(20)

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
0,99874,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,19,Marronnier,Aesculus,hippocastanum,NaN,20,5,NaN,0.0,48.857620,2.320962
1,99875,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,20,If,Taxus,baccata,NaN,65,8,A,NaN,48.857656,2.321031
2,99876,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,21,If,Taxus,baccata,NaN,90,10,A,NaN,48.857705,2.321061
3,99877,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,22,Erable,Acer,negundo,NaN,60,8,A,NaN,48.857722,2.321006
4,99878,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0037,Arbre √† miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890435,2.315289
5,99879,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0036,Arbre √† miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890470,2.315228
6,99880,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0035,Arbre √† miel,Tetradium,daniellii,NaN,37,0,NaN,NaN,48.890504,2.315168
7,99881,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,SQUARE ALEXANDRE ET RENE PARODI / 1 PLACE DE L...,35,Platane,Platanus,x hispanica,NaN,260,17,NaN,NaN,48.876722,2.280222
8,99882,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DE L AVENUE FOCH / 10 AVENUE FOCH,802008,Sophora,Sophora,japonica,NaN,145,14,A,0.0,48.871990,2.275814
9,99883,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DE L AVENUE FOCH / 10 AVENUE FOCH,802009,Sophora,Sophora,japonica,NaN,135,10,A,0.0,48.872046,2.275752
10,99884,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DE L AVENUE FOCH / 10 AVENUE FOCH,802007,Prunus n. sp.,Prunus,n. sp.,NaN,15,3,J,0.0,48.871948,2.275867
11,99885,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,20001,H√™tre,Fagus,sylvatica,Atropunicea',30,0,NaN,NaN,48.858222,2.269287
12,99887,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,20003,Micocoulier,Celtis,occidentalis,NaN,205,0,NaN,NaN,48.858212,2.268794
13,99888,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,20004,Tilleul,Tilia,tomentosa,NaN,155,0,NaN,NaN,48.858139,2.268634
14,99889,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,20007,Ch√™ne,Quercus,robur,NaN,25,0,NaN,NaN,48.858227,2.268489
15,99890,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,20009,Tilleul,Tilia,tomentosa,NaN,185,0,NaN,NaN,48.858043,2.267989
16,99891,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,20012,Savonnier,Koelreuteria,paniculata,NaN,20,0,NaN,NaN,48.858048,2.268783
17,99892,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,20013,Erable,Acer,rufinerve,NaN,20,0,NaN,NaN,48.857907,2.268395
18,99893,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,20014,Copalme,Liquidambar,styraciflua,NaN,25,0,NaN,NaN,48.857877,2.268355
19,99894,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,20015,Savonnier,Koelreuteria,paniculata,NaN,25,0,NaN,NaN,48.857774,2.268167

In [126]:
# Afficher le nombre de valeurs manquantes poour chaque colonne 
print(data.isna().sum())

id                          0
type_emplacement            0
domanialite                 1
arrondissement              0
complement_addresse    169235
numero                 200137
lieu                        0
id_emplacement              0
libelle_francais         1497
genre                      16
espece                   1752
variete                163360
circonference_cm            0
hauteur_m                   0
stade_developpement     67205
remarquable             63098
geo_point_2d_a              0
geo_point_2d_b              0
dtype: int64

La variable `numero` est **toujours vide**. Cette colonne peut √™tre **supprim√©e**.

In [127]:
data.drop('numero', axis=1, inplace=True)

## Type de donn√©es

- Nature des variables : 
  - quantitatives (discr√®tes, continues)
  - qualitatives (nomiales, oridnales)

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200137 entries, 0 to 200136
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   200137 non-null  int64
 1   type_emplacement     200137 non-null  object
 2   domanialite          200136 non-null  object
 3   arrondissement       200137 non-null  object
 4   complement_addresse  30902 non-null   object
 5   lieu                 200137 non-null  object
 6   id_emplacement       200137 non-null  object
 7   libelle_francais     198640 non-null  object
 8   genre                200121 non-null  object
 9   espece               198385 non-null  object
 10  variete              36777 non-null   object
 11  circonference_cm     200137 non-null  int64
 12  hauteur_m            200137 non-null  int64
 13  stade_developpement  132932 non-null  object
 14  remarquable          137039 non-null  float64
 15  geo_point_2d_a       200137 non-null  float64
 16  geo_point_2d_b       200137 non-null  float64
dtypes: float64(3), int64(3), object(11)
memory usage: 26.0+ MB

### Variables qualitatives

- id
- type_emplacement (supprim√©e)
- domanialite
- arrondissement
- complement_addresse
- lieu
- id_emplacement
- libelle_francais
- genre 
- espece
- variete
- stade_developpement
- remarquable (bool)

Bien qu'elles soient des **valeurs num√©riques**, les variables suivantes sont qualitatives : 

- La variable `id` est une variable **qualitative nominale**. 
- La variable `remarquable` est une variable **qualitative ordinale**, car elle ne contient que deux valeurs 0 et 1 (valeurs bool√©ennes).

In [112]:
# remarquable
data['remarquable'].unique()

array([ 0., nan,  1.])

In [130]:
# convertion en bool√©en
data['remarquable'] = data['remarquable'].astype('bool')

In [131]:
data['remarquable'].unique()

array([False,  True])

In [133]:
# Montrer la description pour chaque variable qualitative

for col in data.columns:
    if data[col].dtypes in ['object', 'bool']: 
        print("Nom de colonne : ", col)
        print(data[col].describe())
        print()

Nom de colonne :  type_emplacement
count     200137
unique         1
top        Arbre
freq      200137
Name: type_emplacement, dtype: object

Nom de colonne :  domanialite
count         200136
unique             9
top       Alignement
freq          104949
Name: domanialite, dtype: object

Nom de colonne :  arrondissement
count              200137
unique                 25
top       PARIS 15E ARRDT
freq                17151
Name: arrondissement, dtype: object

Nom de colonne :  complement_addresse
count     30902
unique     3795
top         SN¬∞
freq        557
Name: complement_addresse, dtype: object

Nom de colonne :  lieu
count                                          200137
unique                                           6921
top       PARC FLORAL DE PARIS / ROUTE DE LA PYRAMIDE
freq                                             2995
Name: lieu, dtype: object

Nom de colonne :  id_emplacement
count     200137
unique     69040
top       101001
freq        1324
Name: id_emplacement, dtype: object

Nom de colonne :  libelle_francais
count      198640
unique        192
top       Platane
freq        42508
Name: libelle_francais, dtype: object

Nom de colonne :  genre
count       200121
unique         175
top       Platanus
freq         42591
Name: genre, dtype: object

Nom de colonne :  espece
count          198385
unique            539
top       x hispanica
freq            36409
Name: espece, dtype: object

Nom de colonne :  variete
count          36777
unique           436
top       Baumannii'
freq            4538
Name: variete, dtype: object

Nom de colonne :  stade_developpement
count     132932
unique         4
top            A
freq       64438
Name: stade_developpement, dtype: object

Nom de colonne :  remarquable
count     200137
unique         2
top        False
freq      136855
Name: remarquable, dtype: object

Conclusion : 

- `type_emplacement` ne contient qu'une seule cat√©gorie **Arbre**. Elle peut donc √™tre supprim√©e.

### Variable quantitatives

In [116]:
data[['circonference_cm', 'hauteur_m', 'geo_point_2d_a', 'geo_point_2d_b']].describe()

       circonference_cm      hauteur_m  geo_point_2d_a  geo_point_2d_b
count     200137.000000  200137.000000   200137.000000   200137.000000
mean          83.380479      13.110509       48.854491        2.348208
std          673.190213    1971.217387        0.030234        0.051220
min            0.000000       0.000000       48.742290        2.210241
25%           30.000000       5.000000       48.835021        2.307530
50%           70.000000       8.000000       48.854162        2.351095
75%          115.000000      12.000000       48.876447        2.386838
max       250255.000000  881818.000000       48.911485        2.469759

In [117]:
# hauteur_m
print(f"{data[data['hauteur_m'] == 0]['hauteur_m'].count()} arbres ont la hauteur de 0 m.")

39219 arbres ont la hauteur de 0 m.

un tableau avec : 
- nom de la variable
- type de variable
- nb de valeur uniques

## Nettoyages des donn√©es

- valeurs manquantes NaN
- Doublons
- Erreur lexicales
- erreur d'irr√©gularit√©
- date ? 
- outliers (valeurs aberrantes)

### Valeurs manquantes ou incoh√©rentes

In [63]:
data.shape

(200137, 18)

In [134]:
# Afficher les valeurs manquantes poour chaque colonne 
print(data.isna().sum())

id                          0
type_emplacement            0
domanialite                 1
arrondissement              0
complement_addresse    169235
lieu                        0
id_emplacement              0
libelle_francais         1497
genre                      16
espece                   1752
variete                163360
circonference_cm            0
hauteur_m                   0
stade_developpement     67205
remarquable                 0
geo_point_2d_a              0
geo_point_2d_b              0
dtype: int64

#### Supprimer les colonnes contenant uniquement des valeurs manquantes

In [69]:

print(data.isna().all())

id                     False
type_emplacement       False
domanialite            False
arrondissement         False
complement_addresse    False
numero                  True
lieu                   False
id_emplacement         False
libelle_francais       False
genre                  False
espece                 False
variete                False
circonference_cm       False
hauteur_m              False
stade_developpement    False
remarquable            False
geo_point_2d_a         False
geo_point_2d_b         False
dtype: bool

#### Supprimer les individus contenant des valeurs manquantes